*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home{
    position: fixed;
    top: 0;
    left: 0;
    font-size: larger;
}

#home a{
    text-decoration: none;
}

#intro{
    margin: 5vh 0 0 0;
}

#board{
    display: flex;
    flex-direction: row;
}

#deck,
#card{
    width: 40vw;
    max-width: 200px;
    height: 60vw;
    max-height: 300px;
    margin: 5vw;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#deck{
    background-color: #7ba0e3;
}

#number{
    font-size: 5em;
}

#suit{
    width: 10vw;
}

button{
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 1px;
    font-size: 2em;
}

#status{
    text-align: center;
}